<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>Welcome back!</h1>
        <p>I knew you wouldn't be able to stay away for long. Once you've learned one sweet skill and tasted the glory that it brings,
        you're left with the insatiable hunger for more. MORE! I'm glad you're back. </p>
            <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %>
    </div>
</div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to "Look What I Can Do!"</h1>
            <p>Here, our aim is simply to help you discover new skills that you didn't even know you were capable of attaining! Soon, you'll be showing your friends and family the things you've learned here, and shouting out, "Look what I can do!".</p>
            <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Tie Your Shoes</h2>
                <p>It might seem like an overwhelming one to start you on. Maybe it's haunted you for your whole life. Don't fret! With a little bit of determination and elbow grease, you, too, can learn to tie your shoes. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Learn Sweet Nunchuk Skills</h2>
                <p>A wise man once said, "Chicks dig guys with skills". The pinacle of those skills are the nunchuks.
                If you want to impress your friends (or at least your grandparents) you need sweet nunchuk skills. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Make a Breakthrough in Human Cloning</h2>
                <p>They said it couldn't be done. They obviously never met you. Maybe you think it's a stretch for you to go straight from tying your shoes to making a breakthrough in human cloning, but don't doubt what your capable of (that's a hanging preposition). </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>
